:root {
  --unit: 1rem;
  --main-color: #00ccdd;
  --bg-color: #aaa;
  --color: #888;
  --hoverable: #f4f4f4;
}

:root {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

table {
  margin: calc(var(--unit) * 2) auto;
  border-collapse: collapse;
  border-bottom: 2px solid var(--main-color);
}

table tr:hover {
  background: var(--hoverable);
}

table tr:hover td {
  color: var(--color);
}

table th, table td {
  color: var(--color);
  border: 1px solid var(--bg-color);
  padding: var(--unit) calc(var(--unit) * 3);
}

table th {
  background: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  font-size: var(--unit);
}
